/*
 * theme: Dark
 * ------------
 */
.theme-dark .main-header .navbar {
  background-color: #3A3F44;
}
.theme-dark .main-header .navbar .nav > li > a {
  color: #ffffff;
}
.theme-dark .main-header .navbar .nav > li > a:hover,
.theme-dark .main-header .navbar .nav > li > a:active,
.theme-dark .main-header .navbar .nav > li > a:focus,
.theme-dark .main-header .navbar .nav .open > a,
.theme-dark .main-header .navbar .nav .open > a:hover,
.theme-dark .main-header .navbar .nav .open > a:focus,
.theme-dark .main-header .navbar .nav > .active > a {
  background: rgba(0, 0, 0, 0.1);
  color: #f6f6f6;
}
.theme-dark .main-header .navbar .sidebar-toggle {
  color: #ffffff;
}
.theme-dark .main-header .navbar .sidebar-toggle:hover {
  color: #f6f6f6;
  background: rgba(0, 0, 0, 0.1);
}
.theme-dark .main-header .navbar .sidebar-toggle {
  color: #fff;
}
.theme-dark .main-header .navbar .sidebar-toggle:hover {
  background-color: #1c1e22;
}
@media (max-width: 767px) {
  .theme-dark .main-header .navbar .dropdown-menu li.divider {
    background-color: rgba(255, 255, 255, 0.1);
  }
  .theme-dark .main-header .navbar .dropdown-menu li a {
    color: #fff;
  }
  .theme-dark .main-header .navbar .dropdown-menu li a:hover {
    background: #272930;
  }
}
.theme-dark .main-header .logo {
  background-color: #272930;
  color: #ffffff;
  border-bottom: 0 solid transparent;
}
.theme-dark .main-header .logo:hover {
  background-color: #1C1E22;
}
.theme-dark .main-header li.user-header {
  background-color: #f39c12;
}
.theme-dark .content-header {
  background: transparent;
}
.theme-dark .wrapper,
.theme-dark .main-sidebar,
.theme-dark .left-side {
  background-color: #222d32;
  color: #b8c7ce;
}
.theme-dark .user-panel > .info,
.theme-dark .user-panel > .info > a {
  color: #fff;
}
.theme-dark .sidebar-menu > li.header {
  color: #4b646f;
  background: #1a2226;
}
.theme-dark .sidebar-menu > li > a {
  border-left: 3px solid transparent;
}
.theme-dark .sidebar-menu > li:hover > a,
.theme-dark .sidebar-menu > li.active > a,
.theme-dark .sidebar-menu > li.menu-open > a {
  color: #ffffff;
  background: #1e282c;
}
.theme-dark .sidebar-menu > li.active > a {
  border-left-color: #FFFFFF;
}
.theme-dark .sidebar-menu > li > .treeview-menu {
  margin: 0 1px;
  background: #2c3b41;
}
.theme-dark .sidebar a {
  color: #b8c7ce;
}
.theme-dark .sidebar a:hover {
  text-decoration: none;
}
.theme-dark .sidebar-menu .treeview-menu > li > a {
  color: #8aa4af;
}
.theme-dark .sidebar-menu .treeview-menu > li.active > a,
.theme-dark .sidebar-menu .treeview-menu > li > a:hover {
  color: #ffffff;
}
.theme-dark .small-box.bg-aqua,
.theme-dark .small-box.bg-green,
.theme-dark .small-box.bg-yellow,
.theme-dark .small-box.bg-red {
	background-color: #3A3F44 !important;
}
.bg-dark, .bg-dark-active {
	background-color: #3A3F44 !important;
}
.theme-dark .help-block {
    color: #b8c7ce;
}
.theme-dark .content-wrapper {
    background-color: #121212;
}
.theme-dark .box,
.theme-dark .box-footer {
    background-color: #2c3b41;
    color: #b8c7ce;
}
.theme-dark .box-title,
.theme-dark .box-header {
    color: #b8c7ce;
}
.theme-dark .table-striped tr:nth-of-type(odd) {
    background-color: #1d2426;
}
.theme-dark tr.tentative td,
.theme-dark tr.your-order td {
    background-color: #225079 !important;
}

.theme-dark .content-splitter-sidebar-inner {
    background-color: #121212;
    border: 1px solid gray;
}
.theme-dark .alert-danger {
    background-color: #b63322 !important;
}

/* Modal dialog */
.theme-dark .modal-content {
    background-color: #2c3b41;
    color: #b8c7ce;
}
.theme-dark .nav-pills li a {
    color: inherit;
}
.theme-dark .nav li a {
    color:  white;
}
.theme-dark .nav li a:focus,
.theme-dark .nav li a:hover {
    color: #b8c7ce;
    background-color: #4b5157;
}

/* buttons */
.theme-dark .form-control {
    background-color: #374850;
    color: #b8c7ce;
}
.theme-dark .btn-default {
    background-color: #cdcdcd;
}
.theme-dark .input-group-addon {
    background-color: #cdcdcd;
}
.theme-dark .form-control[disabled],
.theme-dark .form-control[readonly] {
    background-color: #202a2f;
    color: #6c7579;
}

/* dropdowns */
.theme-dark .dropdown-menu {
    background-color: #222d32;
}
.theme-dark .dropdown-menu li a {
    color: #b8c7ce;
}

/* sidebar for asset exchange and messages */
.theme-dark .sidebar_context {
    background-color: #222d32;
}
.theme-dark .list-group-item-heading,
.theme-dark .list-group-item-text {
    color: white !important;
}
.theme-dark a.list-group-item-header {
    background: #1e282c !important;
}
.theme-dark .list-group-item {
    background-color: #2c3b41;
}
.theme-dark .list-group-item:hover {
    background: #1e282c;
}
