/*.iml
/dist
/tmp
.idea
brs.log
brs.log.*
node.log*
/conf/logging.properties
/conf/brs.properties
/conf/node.properties
_config.yml
/html/ui/doc/*
/html/ui/phoenix/*
target
*.prefs
.project
.classpath
/burst_db/*
/db/*
/conf-tests/
*.zip
*.jar

/.gradle/
/build/
/bin/
launch.json
