@import "normalize.css";
@import "vars.css";

body {
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  background-color: var(--burst-blue);
  overflow: hidden;
  color: #fefefe;
}

canvas {
  filter: blur(1px);
}

.bg {
  background-image: url("../../img/selector/blockchain.jpg");
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  object-position: center;
  opacity: 0.2;
  filter: saturate(0.1);
}

.logo {
  top: 2rem;
  text-align: center;
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.5));
}

.logo > img {
  height: 128px;
  object-fit: contain;
}

.logo > #version {
  position: absolute;
  right: 0;
  bottom: 0;
}

.wallet-options {
  filter: drop-shadow(0 0 4px rgba(0, 0, 0, 0.5));
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wallet-options__title {
  margin-bottom: 2rem;
}

.wallet-options__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.card {
  position: relative;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.075);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  border-radius: 4px;
  width: 192px;
  padding: 4rem;
  transition: backdrop-filter 250ms ease-out,
  transform 250ms ease-out,
  box-shadow 250ms ease-out,
  background 250ms ease-out;
  transform: scale(1.0);
  color: lightgray;
}

.card:hover {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  transform: scale(1.1);
  transition: all 250ms ease-out;
}

.center-text {
  text-align: center;
}

.card__title {
  margin: 1rem 0 0 0;
  padding: 0;
}

.remember-wallet {
  display: inline-flex;

  margin-top: 2rem;
}

.remember-wallet > input {
  margin-right: 0.25rem;
}
